<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Signup - Spotify Clone</title>
        <meta name="description" content="Signup page for Spotify Clone">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body style="background-color: #121212; color: #FFFFFF; font-family: Arial, sans-serif; display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0;">
        <!--[if lt IE 7]>
            <p class="browsehappy" style="color: #FFFFFF; background-color: #000000; padding: 10px; border-radius: 5px;">You are using an <strong>outdated</strong> browser. Please <a href="#" style="color: #1DB954;">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <form method="post" style="background-color: #282828; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); width: 100%; max-width: 360px; justify-content: center;text-align: center;">
            {% csrf_token %}
            <h2 style="margin-bottom: 20px; color: #1rB954;">Signup</h2>
            <div style="margin-bottom: 20px;">
                {{ form.as_p }}
            </div>
            <input type="submit" value="Sign Up" style="background-color: #1DB954; border: none; color: #fff; padding: 10px 20px; border-radius: 50px; cursor: pointer; font-size: 16px; margin-top: 10px; transition: background-color 0.3s ease;">
        </form>
        <script src="" async defer></script>
    </body>
</html>
